/*Fonte 'Manrope' Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



#wrapper-video{
    display: flex;
    flex-direction: row;
    font-family: 'Manrope';
    font-family: 'Manrope', 'Inter',sans-serif;
    position: absolute;
    z-index: 0;
    margin-top: 5%;
    margin-left: 5%;
    background-color: rgb(108, 137, 128);
    
}

/*Video de fundo*/
#video-carvalheira{
    position: absolute;
    min-width: 100%;
    min-height: 720px;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -100;

}



/*Container Info*/

#container-general-video{
    padding: 0% 2%;
    width: 40%;
    min-width: 400px;
}

#container-general-video p{
    margin-left: 10%;
    max-width: 400px;
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: 600;
}







/*H1 container*/
#header-box{
    background-color: #460273;
    width: 80%;
    height: 10vh;
    background: #460273;
    border-radius: 40px;
    overflow-x:hidden;
    overflow-y: hidden;
    display: flex;
    justify-content:center;
    min-width: 480px;
    max-width: 700px;
    min-height: 2.5rem;
    max-height: 100px;
}

#header-box h1{
    color: #FFFFFF;
    font-size: 2rem;
    margin: auto;
}



/*Botão Ingresso*/
#ingresso-btn-video{
    cursor: pointer;
    height: 3rem;
    width: 10rem;
    border: none;
    background-color: #460273;
    color: #FFFFFF;
    font-weight: bold;
    font-size: .85rem;
    margin-left: 10%;
    
}

#ingresso-btn-video:hover{
    /*box-shadow: 2px 5px 5px  rgba(0, 0, 0, .25);*/
    background-color: #FFFFFF;
    color: #460273;
}

/*Ícones*/
.container-icons-video{
    display: flex;
    flex-direction: column;

}
.icon-video{
    height: 40px;
    width: 40px;
    background-color: #460273;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-video:hover{
    /*    box-shadow: 2px 5px 5px  rgba(0, 0, 0, .25); */
    background-color: #7d1dbd;
}

